@keyframes underline {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.underline-animation {
    position: relative;
    display: inline-block;
}

.underline-animation::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 5px;
    height: 2px;
    width: 0;
    background-color: #CEEC58;
    animation: underline 1s infinite;
    width: 80%;
}