@keyframes underline {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.underline-animation {
    position: relative;
    display: inline-block;
}

.underline-animation::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 5px; /* Adjust as needed */
    height: 2px; /* Adjust as needed */
    width: 0;
    background-color: #CEEC58; /* Tailwind's bg-blue-500 color */
    animation: underline 1s infinite; /* Adjust duration as needed */
    width: 80%;
}