
.hoverGlow {
    box-shadow: none;
}

.hoverGlow:hover {
    box-shadow: 0px 0px 20px 5px rgba(52,129,132, 0.5) inset;
}

.hoverGlowNoHover {
    box-shadow: 0px 0px 20px 5px rgba(52,129,132, 0.5) inset;
    color: #89E5E6 !important
}