@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: large;

  color: rgba(255, 255, 255, 0.87);
  background-color: #131018;
}

html, body {
  cursor: url('/src/assets/cyber-cursor.png'), auto;
}